<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <title>Customer Form</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" media="screen">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>

    <link rel="stylesheet" href="../../static/css/spring-core.css"
          th:href="@{../../static/css/spring-core.css}" media="screen">

</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h2>Customer Details</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <div class="card bg-light">
                <div class="card-body">
                    <form class="form" th:object="${customer}" th:action="@{/customer}" method="post">
                        <input type="hidden" th:field="*{id}"/>
                        <input type="hidden" th:field="*{version}"/>
                        <div class="form-inline">
                            <label class="col-sm-3 col-form-label-lg">First Name:</label>
                            <input type="text" class="form-control" th:field="*{firstName}"/>
                        </div>
                        <div class="form-inline">
                            <label class="col-sm-3 col-form-label-lg">Last Name:</label>
                            <input type="text" class="form-control" th:field="*{lastName}"/>
                        </div>
                        <div class="form-inline">
                            <label class="col-sm-3 col-form-label-lg">Email:</label>
                            <input type="text" class="form-control" th:field="*{email}"/>
                        </div>
                        <div class="form-inline">
                            <label class="col-sm-3 col-form-label-lg">Phone Number:</label>
                            <input type="text" class="form-control" th:field="*{phoneNumber}"/>
                        </div>
                        <div class="form-inline">
                            <label class="col-sm-3 col-form-label-lg">Address One:</label>
                            <input type="text" class="form-control" th:field="*{billingAddress.addressOne}"/>
                        </div>
                        <div class="form-inline">
                            <label class="col-sm-3 col-form-label-lg">Address Two:</label>
                            <input type="text" class="form-control" th:field="*{billingAddress.addressTwo}"/>
                        </div>
                        <div class="form-inline">
                            <label class="col-sm-3 col-form-label-lg">City:</label>
                            <input type="text" class="form-control" th:field="*{billingAddress.city}"/>
                        </div>
                        <div class="form-inline">
                            <label class="col-sm-3 col-form-label-lg">State:</label>
                            <input type="text" class="form-control" th:field="*{billingAddress.state}"/>
                        </div>
                        <div class="form-inline">
                            <label class="col-sm-3 col-form-label-lg">Zip Code:</label>
                            <input type="text" class="form-control" th:field="*{billingAddress.zipCode}"/>
                        </div>
                        <div class="row">
                            <button type="submit" class="btn btn-dark">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>